# System files
.*

# Gradle
/gradlew
/gradlew.bat
/gradle/

# Gradle output
/build/

# IntelliJ files
/out/

# Compiled sources
*.class

# Unignore this .gitignore
!/.gitignore

# Ignore images
*.jpg
*.png

# Unignore Icons
!/src/main/resources/icons/*

!/.travis.yml
src/test/java/